---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Series from "../components/Series.astro";
import Slides from "../components/Slides.astro";

export async function getStaticPaths() {
    const seriesPosts = import.meta.glob("../series/*.json");
    const slidesPosts = import.meta.glob("../pages/slides/*.typ");

    const seriesPaths = await Promise.all(
        Object.entries(seriesPosts).map(async ([path, loader]) => {
            const { default: postData } = await loader();
            const slug = path.split("/").pop()?.replace(".json", "");
            return {
                params: { slug },
                props: { post: postData, type: "series" },
            };
        }),
    );

    const slidesPaths = Object.keys(slidesPosts).map((path) => {
        const slug = path.split("/").pop()?.replace(".typ", "");
        return {
            params: { slug },
            props: { slug, type: "slides" },
        };
    });

    return [...seriesPaths, ...slidesPaths];
}

const { post, slug, type } = Astro.props;
const filePath =
    type === "series"
        ? `src/pages/series/${slug}.json`
        : `src/pages/slides/${slug}.typ`;
---

<Layout title={type === "series" ? post.title : `Slides: ${slug}`}>
    <Header />
    <main>
        {
            type === "series" ? (
                <>
                    <h1>{post.title}</h1>
                    <p>{post.date}</p>
                    <div set:html={post.content} class="content" />
                    <Series post={post} />
                </>
            ) : (
                <Slides {filePath} />
            )
        }
    </main>
</Layout>

<style>
    h1 {
        text-transform: uppercase;
        padding-top: 10vh;
    }

    .content {
        max-width: 90vw;
        width: 700px;
        text-align: center;
        margin: 0 auto;
        padding: 10vh 0;
    }
</style>
