---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = import.meta.glob("../pages/posts/*.json");

    const paths = await Promise.all(
        Object.entries(posts).map(async ([path, loader]) => {
            const { default: postData } = await loader();
            const slug = path.split("/").pop()?.replace(".json", "");
            return {
                params: { slug },
                props: { post: postData },
            };
        }),
    );

    return paths;
}

const { post } = Astro.props;
---

<Layout title={post.title}>
    <Header />
    <main>
        <h1>{post.title}</h1>
        <p>{post.date}</p>
        <div set:html={post.content} class="content" />
        <div class="works-grid">
            {
                post.works.map((work) => (
                    <div class="work-item">
                        <div class="image-container">
                            <img src={"https://s3.syrk.is/" + work.cover} alt={work.title} />{" "}
                        </div>
                        <h3>
                            {work.title}, {post.material}, {post.year}
                        </h3>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    h1 {
        text-transform: uppercase;
        padding-top: 10vh;
    }

    .content {
        max-width: 90vw;
        width: 700px;
        text-align: center;
        margin: 0 auto;
        padding: 10vh 0;
    }
    .works-grid {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 0;
    }

    .work-item {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        align-items: center;
    }

    .image-container {
        width: 95vw;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .work-item h3 {
        margin: 0;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: normal;
    }
</style>
