---
import Layout from "../layouts/Layout.astro";
import Series from "../components/Series.astro";
import Slides from "../components/Slides.astro";

export async function getStaticPaths() {
    const seriesPosts = import.meta.glob("../series/*.json");
    const slidesPosts = import.meta.glob("../pages/slides/*.typ");

    const seriesPaths = await Promise.all(
        Object.entries(seriesPosts).map(async ([path, loader]) => {
            const { default: postData } = await loader();
            const slug = path.split("/").pop()?.replace(".json", "");
            return {
                params: { slug },
                props: { post: postData, type: "series" },
            };
        }),
    );

    const slidesPaths = Object.keys(slidesPosts).map((path) => {
        const slug = path.split("/").pop()?.replace(".typ", "");
        return {
            params: { slug },
            props: { slug, type: "slides" },
        };
    });

    return [...seriesPaths, ...slidesPaths];
}

const { post, slug, type } = Astro.props;
const filePath =
    type === "series"
        ? `src/pages/series/${slug}.json`
        : `src/pages/slides/${slug}.typ`;
---

<Layout title={type === "series" ? post.title : `Slides: ${slug}`}>
    <!-- <Header /> -->
    <main>
        {type === "series" ? <Series post={post} /> : <Slides {filePath} />}
    </main>
</Layout>
