---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const talks = (await getCollection("talks")).filter(
    (entry) => !entry.data.hidden,
);

const text =
    "Bridging cognition and computation, these talks investigate mechanistic intelligence in strategic and semantic contexts. For speaking engagements, contact";
const emailUser = "desk";
const emailDomain = "syrkis.com";
---

<Layout pageType="talks">
    <div class="wrapper">
        <div id="text">
            {text}
            <email-link data-user={emailUser} data-domain={emailDomain}>
                {emailUser}[at]{emailDomain}
            </email-link>
        </div>
        <div id="talks">
            {
                talks.map((entry) => (
                    <div class="slide">
                        <span class="slide-name">
                            <i>{entry.data.title}</i>
                        </span>
                        <span class="slide-info">
                            <a href={`/${entry.id}`}>slide</a>|<a>video</a>
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>

<style>
    #text {
        width: 700px;
        max-width: 95%;
        padding: 10vh 0;
        text-align: center;
        margin: auto;
    }
    #talks {
        padding: 15vh 0;
        text-align: center;
    }
    .section {
        font-size: 1.5em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
    h2 {
        mix-blend-mode: difference;
        color: black;
        filter: saturate(0) opacity(1) invert(1);
    }
    .slide {
        text-align: center;
        font-size: 1.2em;
        line-height: 2.5;
        padding-top: 6rem;
    }
    .slide-info {
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin: auto;
    }
</style>

<script>
    class EmailLink extends HTMLElement {
        connectedCallback() {
            this.addEventListener("click", () => {
                const user = this.dataset.user;
                const domain = this.dataset.domain;
                window.location.href = `mailto:${user}@${domain}`;
            });
        }
    }

    customElements.define("email-link", EmailLink);
</script>
