---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await Promise.all(
    Object.entries(import.meta.glob("./posts/*.json")).map(async ([path, loader]) => {
        const { default: post } = await loader();
        return { ...post };
    }),
);
const text = "These works investigate the visual principles of systems, from archival structures to organic patterns"

---

<Layout>
    <Header />
    <div class="posts-list">
        <span class="text">{text}</span>
        {
            allPosts.map((post: any) => (
            <div transition:name=`page-${post.slug}`>
                <a href=`/${post.slug}`>
                    <div class="post-item" style={`background-image: url(https://s3.syrk.is/${post.cover})`}>
                        <h2>{post.title}</h2>
                    </div>
                </a>
            </div>
            ))
        }
    </div>
</Layout>

<style>

    .posts-list {
        display: grid;
        gap: 150px;
        padding: 100px 0;
        width: 90%;
        margin: 0 auto;
    }
    .post-item {
        height: 70vh;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        transition: transform 1s ease-in-out;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }
    .post-item:hover {
        transform: scale(1.05);
    }
</style>
