---
import type { CollectionEntry } from "astro:content";
import Title from "../components/Title.astro";
import { Image } from "astro:assets";

interface Props {
    entry: CollectionEntry<"works">;
}

const { entry } = Astro.props;
const { title, year, desc, material, works } = entry.data;
---

<div class="series">
    <h2>
        {title}
    </h2>
    <p class="text">{desc}</p>
    <div class="series-list">
        <div class="works-grid">
            {
                works.map((work) => (
                    <div class="work">
                        <Image
                            src={`/src/assets/art/${entry.id}/${work.file}`}
                            alt={work.name}
                            fill
                        />
                        <div class="art-descr">
                            <p>
                                {work.name}, {material}, {year}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
